.staff-dashboard-wrapper {
  padding: 2rem;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    a {
      font-weight: 600;
    }
  }
  table {
    margin-top: 1rem;
  }
  .qrcode-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      max-width: 120px !important;
    }
    label {
      font-weight: 600;
      margin: 1rem 0;
    }
  }
}
