.action-btn {
  a,
  button {
    border: none;
    box-shadow: none;
    text-decoration: none;
    outline: none;
    padding: 1rem 2rem;
    background-color: #27166f;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
  &__secondary {
    a,
    button {
      border: none;
      box-shadow: none;
      text-decoration: none;
      outline: none;
      padding: 0.5rem 2rem;
      background-color: transparent;
      border: 1px solid #27166f;
      color: #27166f;
      font-size: 1rem;
      font-weight: 600;
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }
}
